<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png">

**Pandas is an open-source, BSD-licensed Python library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.**

In [1]:
# pip install pandas
import pandas as pd

In [2]:
data = {
    "Name": ["Jayant", "Urvashi", "Jayushi", "Anand"],
    "Marks": [50,66,20,90],
    "City": ["Lucknow", "Delhi", "Punjab", "Argentina"]
}

In [3]:
df = pd.DataFrame(data)
df

      Name  Marks       City
0   Jayant     50    Lucknow
1  Urvashi     66      Delhi
2  Jayushi     20     Punjab
3    Anand     90  Argentina

In [4]:
df.to_csv('family.csv')

In [5]:
df.to_csv('fam.csv', index=False)

In [6]:
df.head(2)

      Name  Marks     City
0   Jayant     50  Lucknow
1  Urvashi     66    Delhi

In [7]:
df.tail(2)

      Name  Marks       City
2  Jayushi     20     Punjab
3    Anand     90  Argentina

In [8]:
df.describe()

           Marks
count   4.000000
mean   56.500000
std    29.365513
min    20.000000
25%    42.500000
50%    58.000000
75%    72.000000
max    90.000000

In [9]:
df = pd.read_csv('data.csv')
df

   Roll Num  Marks       Name
0       235     34     Jayant
1       650    123    Urvashi
2       651     51    Jayushi
3      8451     20  Argentina

In [10]:
df['Marks']

0     34
1    123
2     51
3     20
Name: Marks, dtype: int64

In [11]:
# It gives us a warning that you should make a copy first then change it
df['Marks'][2] = 41

<ipython-input-11-ddc05a0d2bee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Marks'][2] = 41

In [12]:
df

   Roll Num  Marks       Name
0       235     34     Jayant
1       650    123    Urvashi
2       651     41    Jayushi
3      8451     20  Argentina

In [13]:
type(df['Name'])

pandas.core.series.Series

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
import numpy as np
df = pd.Series(np.random.rand(34))
df

0     0.647787
1     0.574719
2     0.190880
3     0.045580
4     0.387254
5     0.841429
6     0.734239
7     0.137837
8     0.741013
9     0.637530
10    0.786911
11    0.828091
12    0.228107
13    0.524711
14    0.490700
15    0.909006
16    0.774315
17    0.096127
18    0.755369
19    0.728945
20    0.291192
21    0.857928
22    0.430959
23    0.430552
24    0.407334
25    0.049316
26    0.397530
27    0.676175
28    0.852611
29    0.016092
30    0.688714
31    0.159718
32    0.554187
33    0.315304
dtype: float64

In [16]:
type(df)

pandas.core.series.Series

In [17]:
df = pd.DataFrame(np.random.rand(34,5))
df

           0         1         2         3         4
0   0.383770  0.901922  0.617116  0.695375  0.658424
1   0.754780  0.756009  0.868204  0.690403  0.510293
2   0.573019  0.646709  0.513628  0.874367  0.660364
3   0.658108  0.943722  0.896530  0.469879  0.491177
4   0.705468  0.219530  0.729904  0.375351  0.068435
5   0.263200  0.023271  0.698986  0.392425  0.024392
6   0.844834  0.818026  0.706818  0.629601  0.159222
7   0.029534  0.828237  0.223626  0.157388  0.379932
8   0.004221  0.371926  0.655554  0.641119  0.296403
9   0.818000  0.012238  0.397557  0.906506  0.760992
10  0.208087  0.060388  0.203140  0.909887  0.220197
11  0.705680  0.362969  0.892284  0.922175  0.815032
12  0.437117  0.043734  0.615756  0.944190  0.277219
13  0.578750  0.887650  0.652378  0.984858  0.078695
14  0.343938  0.317408  0.993516  0.866310  0.217959
15  0.346729  0.434761  0.389265  0.564136  0.524988
16  0.960457  0.744199  0.149569  0.778137  0.631105
17  0.197468  0.299556  0.279051  0.853512  0.725114
18  0.155319  0.843821  0.854912  0.685635  0.879237
19  0.980513  0.784572  0.957767  0.091623  0.696898
20  0.646062  0.580652  0.044535  0.219003  0.656819
21  0.386661  0.001765  0.854305  0.871291  0.340773
22  0.907482  0.364137  0.016735  0.631178  0.790014
23  0.214249  0.980937  0.027313  0.333364  0.263630
24  0.454838  0.710268  0.422585  0.817972  0.314512
25  0.627506  0.544436  0.263250  0.216349  0.851059
26  0.276387  0.820059  0.087791  0.315740  0.824940
27  0.580446  0.478486  0.003350  0.112439  0.993816
28  0.750179  0.999217  0.287592  0.707542  0.026998
29  0.781449  0.074374  0.601196  0.107307  0.709387
30  0.945859  0.826254  0.746504  0.223850  0.266391
31  0.982391  0.879043  0.807562  0.112122  0.721894
32  0.448629  0.953119  0.439621  0.563067  0.798360
33  0.029002  0.233056  0.159981  0.074964  0.617819

In [18]:
df.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [19]:
df.columns

RangeIndex(start=0, stop=5, step=1)

In [20]:
df.to_numpy()

array([[0.38377009, 0.90192206, 0.6171161 , 0.69537514, 0.65842387],
       [0.75478048, 0.75600937, 0.8682043 , 0.69040265, 0.51029295],
       [0.57301892, 0.64670886, 0.51362835, 0.8743668 , 0.66036412],
       [0.65810848, 0.9437222 , 0.89652978, 0.46987877, 0.49117663],
       [0.70546843, 0.21953032, 0.72990399, 0.37535068, 0.0684354 ],
       [0.26320012, 0.02327097, 0.69898604, 0.39242495, 0.02439186],
       [0.8448335 , 0.81802635, 0.7068181 , 0.62960056, 0.15922157],
       [0.02953423, 0.82823743, 0.22362567, 0.15738761, 0.37993249],
       [0.00422121, 0.37192618, 0.65555405, 0.64111889, 0.29640341],
       [0.81800038, 0.01223785, 0.39755657, 0.90650585, 0.7609919 ],
       [0.2080866 , 0.06038796, 0.20314013, 0.90988739, 0.22019687],
       [0.70568038, 0.36296909, 0.89228404, 0.92217539, 0.81503225],
       [0.43711712, 0.043734  , 0.61575646, 0.94419004, 0.27721949],
       [0.57875001, 0.88765025, 0.65237802, 0.98485839, 0.07869452],
       [0.34393755, 0.31740836, 0.99351588, 0.86630983, 0.21795864],
       [0.34672911, 0.43476135, 0.38926549, 0.56413636, 0.52498817],
       [0.96045742, 0.74419907, 0.14956888, 0.77813654, 0.6311051 ],
       [0.19746846, 0.29955634, 0.27905064, 0.85351224, 0.72511391],
       [0.15531924, 0.84382065, 0.85491167, 0.68563527, 0.87923697],
       [0.98051278, 0.78457195, 0.95776676, 0.09162325, 0.69689796],
       [0.64606246, 0.58065237, 0.04453454, 0.21900341, 0.65681923],
       [0.38666101, 0.00176491, 0.85430541, 0.87129061, 0.34077299],
       [0.90748212, 0.36413749, 0.01673513, 0.63117773, 0.79001378],
       [0.21424943, 0.98093696, 0.02731259, 0.33336373, 0.26362973],
       [0.45483809, 0.71026806, 0.42258515, 0.81797208, 0.31451186],
       [0.62750573, 0.54443565, 0.26324952, 0.21634887, 0.85105857],
       [0.27638717, 0.82005896, 0.08779086, 0.3157402 , 0.82493999],
       [0.58044627, 0.47848618, 0.00334951, 0.1124389 , 0.99381587],
       [0.75017883, 0.99921749, 0.28759188, 0.70754181, 0.02699817],
       [0.78144922, 0.07437387, 0.60119561, 0.107307  , 0.70938702],
       [0.94585916, 0.82625427, 0.74650381, 0.22385032, 0.2663911 ],
       [0.98239094, 0.87904294, 0.80756173, 0.11212225, 0.72189444],
       [0.44862939, 0.95311923, 0.43962077, 0.56306675, 0.79835953],
       [0.02900236, 0.23305624, 0.15998117, 0.07496368, 0.61781926]])

In [21]:
df

           0         1         2         3         4
0   0.383770  0.901922  0.617116  0.695375  0.658424
1   0.754780  0.756009  0.868204  0.690403  0.510293
2   0.573019  0.646709  0.513628  0.874367  0.660364
3   0.658108  0.943722  0.896530  0.469879  0.491177
4   0.705468  0.219530  0.729904  0.375351  0.068435
5   0.263200  0.023271  0.698986  0.392425  0.024392
6   0.844834  0.818026  0.706818  0.629601  0.159222
7   0.029534  0.828237  0.223626  0.157388  0.379932
8   0.004221  0.371926  0.655554  0.641119  0.296403
9   0.818000  0.012238  0.397557  0.906506  0.760992
10  0.208087  0.060388  0.203140  0.909887  0.220197
11  0.705680  0.362969  0.892284  0.922175  0.815032
12  0.437117  0.043734  0.615756  0.944190  0.277219
13  0.578750  0.887650  0.652378  0.984858  0.078695
14  0.343938  0.317408  0.993516  0.866310  0.217959
15  0.346729  0.434761  0.389265  0.564136  0.524988
16  0.960457  0.744199  0.149569  0.778137  0.631105
17  0.197468  0.299556  0.279051  0.853512  0.725114
18  0.155319  0.843821  0.854912  0.685635  0.879237
19  0.980513  0.784572  0.957767  0.091623  0.696898
20  0.646062  0.580652  0.044535  0.219003  0.656819
21  0.386661  0.001765  0.854305  0.871291  0.340773
22  0.907482  0.364137  0.016735  0.631178  0.790014
23  0.214249  0.980937  0.027313  0.333364  0.263630
24  0.454838  0.710268  0.422585  0.817972  0.314512
25  0.627506  0.544436  0.263250  0.216349  0.851059
26  0.276387  0.820059  0.087791  0.315740  0.824940
27  0.580446  0.478486  0.003350  0.112439  0.993816
28  0.750179  0.999217  0.287592  0.707542  0.026998
29  0.781449  0.074374  0.601196  0.107307  0.709387
30  0.945859  0.826254  0.746504  0.223850  0.266391
31  0.982391  0.879043  0.807562  0.112122  0.721894
32  0.448629  0.953119  0.439621  0.563067  0.798360
33  0.029002  0.233056  0.159981  0.074964  0.617819

In [22]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,0.383770,0.754780,0.573019,0.658108,0.705468,0.263200,0.844834,0.029534,0.004221,0.818000,...,0.454838,0.627506,0.276387,0.580446,0.750179,0.781449,0.945859,0.982391,0.448629,0.029002
1,0.901922,0.756009,0.646709,0.943722,0.219530,0.023271,0.818026,0.828237,0.371926,0.012238,...,0.710268,0.544436,0.820059,0.478486,0.999217,0.074374,0.826254,0.879043,0.953119,0.233056
2,0.617116,0.868204,0.513628,0.896530,0.729904,0.698986,0.706818,0.223626,0.655554,0.397557,...,0.422585,0.263250,0.087791,0.003350,0.287592,0.601196,0.746504,0.807562,0.439621,0.159981
3,0.695375,0.690403,0.874367,0.469879,0.375351,0.392425,0.629601,0.157388,0.641119,0.906506,...,0.817972,0.216349,0.315740,0.112439,0.707542,0.107307,0.223850,0.112122,0.563067,0.074964
4,0.658424,0.510293,0.660364,0.491177,0.068435,0.024392,0.159222,0.379932,0.296403,0.760992,...,0.314512,0.851059,0.824940,0.993816,0.026998,0.709387,0.266391,0.721894,0.798360,0.617819

In [23]:
df

           0         1         2         3         4
0   0.383770  0.901922  0.617116  0.695375  0.658424
1   0.754780  0.756009  0.868204  0.690403  0.510293
2   0.573019  0.646709  0.513628  0.874367  0.660364
3   0.658108  0.943722  0.896530  0.469879  0.491177
4   0.705468  0.219530  0.729904  0.375351  0.068435
5   0.263200  0.023271  0.698986  0.392425  0.024392
6   0.844834  0.818026  0.706818  0.629601  0.159222
7   0.029534  0.828237  0.223626  0.157388  0.379932
8   0.004221  0.371926  0.655554  0.641119  0.296403
9   0.818000  0.012238  0.397557  0.906506  0.760992
10  0.208087  0.060388  0.203140  0.909887  0.220197
11  0.705680  0.362969  0.892284  0.922175  0.815032
12  0.437117  0.043734  0.615756  0.944190  0.277219
13  0.578750  0.887650  0.652378  0.984858  0.078695
14  0.343938  0.317408  0.993516  0.866310  0.217959
15  0.346729  0.434761  0.389265  0.564136  0.524988
16  0.960457  0.744199  0.149569  0.778137  0.631105
17  0.197468  0.299556  0.279051  0.853512  0.725114
18  0.155319  0.843821  0.854912  0.685635  0.879237
19  0.980513  0.784572  0.957767  0.091623  0.696898
20  0.646062  0.580652  0.044535  0.219003  0.656819
21  0.386661  0.001765  0.854305  0.871291  0.340773
22  0.907482  0.364137  0.016735  0.631178  0.790014
23  0.214249  0.980937  0.027313  0.333364  0.263630
24  0.454838  0.710268  0.422585  0.817972  0.314512
25  0.627506  0.544436  0.263250  0.216349  0.851059
26  0.276387  0.820059  0.087791  0.315740  0.824940
27  0.580446  0.478486  0.003350  0.112439  0.993816
28  0.750179  0.999217  0.287592  0.707542  0.026998
29  0.781449  0.074374  0.601196  0.107307  0.709387
30  0.945859  0.826254  0.746504  0.223850  0.266391
31  0.982391  0.879043  0.807562  0.112122  0.721894
32  0.448629  0.953119  0.439621  0.563067  0.798360
33  0.029002  0.233056  0.159981  0.074964  0.617819

In [24]:
df.sort_index(axis = 1, ascending = False)

           4         3         2         1         0
0   0.658424  0.695375  0.617116  0.901922  0.383770
1   0.510293  0.690403  0.868204  0.756009  0.754780
2   0.660364  0.874367  0.513628  0.646709  0.573019
3   0.491177  0.469879  0.896530  0.943722  0.658108
4   0.068435  0.375351  0.729904  0.219530  0.705468
5   0.024392  0.392425  0.698986  0.023271  0.263200
6   0.159222  0.629601  0.706818  0.818026  0.844834
7   0.379932  0.157388  0.223626  0.828237  0.029534
8   0.296403  0.641119  0.655554  0.371926  0.004221
9   0.760992  0.906506  0.397557  0.012238  0.818000
10  0.220197  0.909887  0.203140  0.060388  0.208087
11  0.815032  0.922175  0.892284  0.362969  0.705680
12  0.277219  0.944190  0.615756  0.043734  0.437117
13  0.078695  0.984858  0.652378  0.887650  0.578750
14  0.217959  0.866310  0.993516  0.317408  0.343938
15  0.524988  0.564136  0.389265  0.434761  0.346729
16  0.631105  0.778137  0.149569  0.744199  0.960457
17  0.725114  0.853512  0.279051  0.299556  0.197468
18  0.879237  0.685635  0.854912  0.843821  0.155319
19  0.696898  0.091623  0.957767  0.784572  0.980513
20  0.656819  0.219003  0.044535  0.580652  0.646062
21  0.340773  0.871291  0.854305  0.001765  0.386661
22  0.790014  0.631178  0.016735  0.364137  0.907482
23  0.263630  0.333364  0.027313  0.980937  0.214249
24  0.314512  0.817972  0.422585  0.710268  0.454838
25  0.851059  0.216349  0.263250  0.544436  0.627506
26  0.824940  0.315740  0.087791  0.820059  0.276387
27  0.993816  0.112439  0.003350  0.478486  0.580446
28  0.026998  0.707542  0.287592  0.999217  0.750179
29  0.709387  0.107307  0.601196  0.074374  0.781449
30  0.266391  0.223850  0.746504  0.826254  0.945859
31  0.721894  0.112122  0.807562  0.879043  0.982391
32  0.798360  0.563067  0.439621  0.953119  0.448629
33  0.617819  0.074964  0.159981  0.233056  0.029002

In [25]:
df.sort_index(axis = 0, ascending = False)

           0         1         2         3         4
33  0.029002  0.233056  0.159981  0.074964  0.617819
32  0.448629  0.953119  0.439621  0.563067  0.798360
31  0.982391  0.879043  0.807562  0.112122  0.721894
30  0.945859  0.826254  0.746504  0.223850  0.266391
29  0.781449  0.074374  0.601196  0.107307  0.709387
28  0.750179  0.999217  0.287592  0.707542  0.026998
27  0.580446  0.478486  0.003350  0.112439  0.993816
26  0.276387  0.820059  0.087791  0.315740  0.824940
25  0.627506  0.544436  0.263250  0.216349  0.851059
24  0.454838  0.710268  0.422585  0.817972  0.314512
23  0.214249  0.980937  0.027313  0.333364  0.263630
22  0.907482  0.364137  0.016735  0.631178  0.790014
21  0.386661  0.001765  0.854305  0.871291  0.340773
20  0.646062  0.580652  0.044535  0.219003  0.656819
19  0.980513  0.784572  0.957767  0.091623  0.696898
18  0.155319  0.843821  0.854912  0.685635  0.879237
17  0.197468  0.299556  0.279051  0.853512  0.725114
16  0.960457  0.744199  0.149569  0.778137  0.631105
15  0.346729  0.434761  0.389265  0.564136  0.524988
14  0.343938  0.317408  0.993516  0.866310  0.217959
13  0.578750  0.887650  0.652378  0.984858  0.078695
12  0.437117  0.043734  0.615756  0.944190  0.277219
11  0.705680  0.362969  0.892284  0.922175  0.815032
10  0.208087  0.060388  0.203140  0.909887  0.220197
9   0.818000  0.012238  0.397557  0.906506  0.760992
8   0.004221  0.371926  0.655554  0.641119  0.296403
7   0.029534  0.828237  0.223626  0.157388  0.379932
6   0.844834  0.818026  0.706818  0.629601  0.159222
5   0.263200  0.023271  0.698986  0.392425  0.024392
4   0.705468  0.219530  0.729904  0.375351  0.068435
3   0.658108  0.943722  0.896530  0.469879  0.491177
2   0.573019  0.646709  0.513628  0.874367  0.660364
1   0.754780  0.756009  0.868204  0.690403  0.510293
0   0.383770  0.901922  0.617116  0.695375  0.658424

In [26]:
df.head()

          0         1         2         3         4
0  0.383770  0.901922  0.617116  0.695375  0.658424
1  0.754780  0.756009  0.868204  0.690403  0.510293
2  0.573019  0.646709  0.513628  0.874367  0.660364
3  0.658108  0.943722  0.896530  0.469879  0.491177
4  0.705468  0.219530  0.729904  0.375351  0.068435

In [27]:
newDf = df.copy()
newDf.loc[0,1] = "Uravshi"
newDf.head()

          0         1         2         3         4
0  0.383770   Uravshi  0.617116  0.695375  0.658424
1  0.754780  0.756009  0.868204  0.690403  0.510293
2  0.573019  0.646709  0.513628  0.874367  0.660364
3  0.658108  0.943722  0.896530  0.469879  0.491177
4  0.705468   0.21953  0.729904  0.375351  0.068435

In [28]:
df.loc[:,0]

0     0.383770
1     0.754780
2     0.573019
3     0.658108
4     0.705468
5     0.263200
6     0.844834
7     0.029534
8     0.004221
9     0.818000
10    0.208087
11    0.705680
12    0.437117
13    0.578750
14    0.343938
15    0.346729
16    0.960457
17    0.197468
18    0.155319
19    0.980513
20    0.646062
21    0.386661
22    0.907482
23    0.214249
24    0.454838
25    0.627506
26    0.276387
27    0.580446
28    0.750179
29    0.781449
30    0.945859
31    0.982391
32    0.448629
33    0.029002
Name: 0, dtype: float64

In [29]:
df = pd.DataFrame(np.random.rand(20,12))

In [30]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.543779,0.762065,0.054086,0.364031,0.226566,0.222269,0.238740,0.102578,0.020228,0.718675,0.676068,0.031351
1,0.143537,0.754556,0.949970,0.596242,0.100520,0.028961,0.128779,0.693654,0.716935,0.761775,0.790455,0.399687
2,0.853122,0.562001,0.538158,0.875350,0.820015,0.389261,0.413581,0.085036,0.331804,0.442996,0.806241,0.841575
3,0.624904,0.235805,0.923486,0.173596,0.953196,0.667429,0.852073,0.009478,0.590329,0.552120,0.036652,0.177274
4,0.112930,0.990402,0.052853,0.277178,0.103052,0.387192,0.513325,0.629677,0.769574,0.082136,0.609028,0.706455
5,0.325459,0.866347,0.904258,0.163209,0.174934,0.421982,0.779708,0.544148,0.641109,0.703333,0.663876,0.753767
6,0.773655,0.343664,0.087806,0.741425,0.747260,0.438920,0.284196,0.817242,0.809963,0.423000,0.803137,0.086099
7,0.963000,0.900767,0.989411,0.024244,0.381699,0.970545,0.357228,0.708887,0.024331,0.243493,0.827226,0.434545
8,0.482985,0.841631,0.089070,0.794233,0.750579,0.728737,0.700216,0.771876,0.613844,0.569253,0.344958,0.492470
9,0.351660,0.807551,0.088432,0.603523,0.536731,0.258233,0.909484,0.269927,0.080670,0.794303,0.069615,0.891157
10,0.853575,0.071900,0.829289,0.519759,0.858055,0.368190,0.117374,0.045887,0.788017,0.167407,0.050120,0.069077
11,0.427261,0.113136,0.488059,0.890205,0.751274,0.134296,0.840427,0.198545,0.470280,0.485222,0.594758,0.391372
12,0.979353,0.110046,0.857960,0.734071,0.284752,0.079271,0.404320,0.229493,0.306863,0.174091,0.939156,0.378551
13,0.812600,0.215501,0.188190,0.954881,0.938085,0.038736,0.234190,0.053240,0.759511,0.031073,0.623897,0.087402
14,0.330153,0.131065,0.302808,0.401655,0.530697,0.345113,0.464982,0.135395,0.880956,0.989601,0.442112,0.989485
15,0.542173,0.031804,0.332400,0.737190,0.268983,0.316645,0.787552,0.783933,0.822249,0.758885,0.298110,0.983320
16,0.513065,0.876720,0.726182,0.882358,0.254394,0.292799,0.296612,0.249463,0.795913,0.496124,0.530396,0.377449
17,0.412355,0.061996,0.089388,0.505178,0.971810,0.290520,0.292104,0.812994,0.202981,0.538635,0.869832,0.173957
18,0.060863,0.222561,0.586781,0.787526,0.277604,0.286994,0.282610,0.147635,0.786750,0.510468,0.388759,0.396120
19,0.434673,0.908522,0.548873,0.489872,0.336047,0.745124,0.531764,0.411030,0.619268,0.448086,0.919328,0.588031

In [31]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.543779,0.762065,0.054086,0.364031,0.226566,0.222269,0.238740,0.102578,0.020228,0.718675,0.676068,0.031351
1,0.143537,0.754556,0.949970,0.596242,0.100520,0.028961,0.128779,0.693654,0.716935,0.761775,0.790455,0.399687
2,0.853122,0.562001,0.538158,0.875350,0.820015,0.389261,0.413581,0.085036,0.331804,0.442996,0.806241,0.841575
3,0.624904,0.235805,0.923486,0.173596,0.953196,0.667429,0.852073,0.009478,0.590329,0.552120,0.036652,0.177274
4,0.112930,0.990402,0.052853,0.277178,0.103052,0.387192,0.513325,0.629677,0.769574,0.082136,0.609028,0.706455

In [32]:
df.loc[[1,3], [2,4]]

          2         4
1  0.949970  0.100520
3  0.923486  0.953196

In [33]:
df.shape

(20, 12)

In [34]:
df.columns = list("ABCDEGHIJKLM")

In [35]:
df.head()

,A,B,C,D,E,G,H,I,J,K,L,M
0,0.543779,0.762065,0.054086,0.364031,0.226566,0.222269,0.238740,0.102578,0.020228,0.718675,0.676068,0.031351
1,0.143537,0.754556,0.949970,0.596242,0.100520,0.028961,0.128779,0.693654,0.716935,0.761775,0.790455,0.399687
2,0.853122,0.562001,0.538158,0.875350,0.820015,0.389261,0.413581,0.085036,0.331804,0.442996,0.806241,0.841575
3,0.624904,0.235805,0.923486,0.173596,0.953196,0.667429,0.852073,0.009478,0.590329,0.552120,0.036652,0.177274
4,0.112930,0.990402,0.052853,0.277178,0.103052,0.387192,0.513325,0.629677,0.769574,0.082136,0.609028,0.706455

In [36]:
df.loc[[3,4], ['C', 'E']]

          C         E
3  0.923486  0.953196
4  0.052853  0.103052

In [39]:
df.head()

,A,B,C,D,E,G,H,I,J,K,L,M
0,0.543779,0.762065,0.0540864,0.364031,0.226566,0.222269,0.238740,0.102578,0.020228,0.718675,0.676068,0.031351
1,0.143537,0.754556,0.94997,0.596242,0.100520,0.028961,0.128779,0.693654,0.716935,0.761775,0.790455,0.399687
2,0.853122,0.562001,Urvashi,0.875350,0.820015,0.389261,0.413581,0.085036,0.331804,0.442996,0.806241,0.841575
3,0.624904,0.235805,0.923486,0.173596,0.953196,0.667429,0.852073,0.009478,0.590329,0.552120,0.036652,0.177274
4,0.112930,0.990402,0.0528528,0.277178,0.103052,0.387192,0.513325,0.629677,0.769574,0.082136,0.609028,0.706455

In [47]:
df.loc[: ,['C', 'D']]

            C         D
0   0.0540864  0.364031
1     0.94997  0.596242
2     Urvashi  0.875350
3    0.923486  0.173596
4   0.0528528  0.277178
5    0.904258  0.163209
6   0.0878061  0.741425
7    0.989411  0.024244
8   0.0890698  0.794233
9   0.0884324  0.603523
10   0.829289  0.519759
11   0.488059  0.890205
12    0.85796  0.734071
13    0.18819  0.954881
14   0.302808  0.401655
15     0.3324  0.737190
16   0.726182  0.882358
17  0.0893876  0.505178
18   0.586781  0.787526
19   0.548873  0.489872

In [48]:
df.loc[[1,2], :]

,A,B,C,D,E,G,H,I,J,K,L,M
1,0.143537,0.754556,0.94997,0.596242,0.100520,0.028961,0.128779,0.693654,0.716935,0.761775,0.790455,0.399687
2,0.853122,0.562001,Urvashi,0.875350,0.820015,0.389261,0.413581,0.085036,0.331804,0.442996,0.806241,0.841575

In [50]:
df.loc[2, 'C'] = 0.65416
df.head()

,A,B,C,D,E,G,H,I,J,K,L,M
0,0.543779,0.762065,0.0540864,0.364031,0.226566,0.222269,0.238740,0.102578,0.020228,0.718675,0.676068,0.031351
1,0.143537,0.754556,0.94997,0.596242,0.100520,0.028961,0.128779,0.693654,0.716935,0.761775,0.790455,0.399687
2,0.853122,0.562001,0.65416,0.875350,0.820015,0.389261,0.413581,0.085036,0.331804,0.442996,0.806241,0.841575
3,0.624904,0.235805,0.923486,0.173596,0.953196,0.667429,0.852073,0.009478,0.590329,0.552120,0.036652,0.177274
4,0.112930,0.990402,0.0528528,0.277178,0.103052,0.387192,0.513325,0.629677,0.769574,0.082136,0.609028,0.706455

In [52]:
df.loc[(df['A'] < 0.3)]

,A,B,C,D,E,G,H,I,J,K,L,M
1,0.143537,0.754556,0.94997,0.596242,0.100520,0.028961,0.128779,0.693654,0.716935,0.761775,0.790455,0.399687
4,0.112930,0.990402,0.0528528,0.277178,0.103052,0.387192,0.513325,0.629677,0.769574,0.082136,0.609028,0.706455
18,0.060863,0.222561,0.586781,0.787526,0.277604,0.286994,0.282610,0.147635,0.786750,0.510468,0.388759,0.396120

In [53]:
df.head()

,A,B,C,D,E,G,H,I,J,K,L,M
0,0.543779,0.762065,0.0540864,0.364031,0.226566,0.222269,0.238740,0.102578,0.020228,0.718675,0.676068,0.031351
1,0.143537,0.754556,0.94997,0.596242,0.100520,0.028961,0.128779,0.693654,0.716935,0.761775,0.790455,0.399687
2,0.853122,0.562001,0.65416,0.875350,0.820015,0.389261,0.413581,0.085036,0.331804,0.442996,0.806241,0.841575
3,0.624904,0.235805,0.923486,0.173596,0.953196,0.667429,0.852073,0.009478,0.590329,0.552120,0.036652,0.177274
4,0.112930,0.990402,0.0528528,0.277178,0.103052,0.387192,0.513325,0.629677,0.769574,0.082136,0.609028,0.706455

In [56]:
df.iloc[0,4]

0.226566473230274

In [57]:
df.iloc[[0,4], [1,2]]

          B          C
0  0.762065  0.0540864
4  0.990402  0.0528528

In [61]:
df.drop(['A', 'D'], axis = 1)

,B,C,E,G,H,I,J,K,L,M
0,0.762065,0.0540864,0.226566,0.222269,0.238740,0.102578,0.020228,0.718675,0.676068,0.031351
1,0.754556,0.94997,0.100520,0.028961,0.128779,0.693654,0.716935,0.761775,0.790455,0.399687
2,0.562001,0.65416,0.820015,0.389261,0.413581,0.085036,0.331804,0.442996,0.806241,0.841575
3,0.235805,0.923486,0.953196,0.667429,0.852073,0.009478,0.590329,0.552120,0.036652,0.177274
4,0.990402,0.0528528,0.103052,0.387192,0.513325,0.629677,0.769574,0.082136,0.609028,0.706455
5,0.866347,0.904258,0.174934,0.421982,0.779708,0.544148,0.641109,0.703333,0.663876,0.753767
6,0.343664,0.0878061,0.747260,0.438920,0.284196,0.817242,0.809963,0.423000,0.803137,0.086099
7,0.900767,0.989411,0.381699,0.970545,0.357228,0.708887,0.024331,0.243493,0.827226,0.434545
8,0.841631,0.0890698,0.750579,0.728737,0.700216,0.771876,0.613844,0.569253,0.344958,0.492470
9,0.807551,0.0884324,0.536731,0.258233,0.909484,0.269927,0.080670,0.794303,0.069615,0.891157
10,0.071900,0.829289,0.858055,0.368190,0.117374,0.045887,0.788017,0.167407,0.050120,0.069077
11,0.113136,0.488059,0.751274,0.134296,0.840427,0.198545,0.470280,0.485222,0.594758,0.391372
12,0.110046,0.85796,0.284752,0.079271,0.404320,0.229493,0.306863,0.174091,0.939156,0.378551
13,0.215501,0.18819,0.938085,0.038736,0.234190,0.053240,0.759511,0.031073,0.623897,0.087402
14,0.131065,0.302808,0.530697,0.345113,0.464982,0.135395,0.880956,0.989601,0.442112,0.989485
15,0.031804,0.3324,0.268983,0.316645,0.787552,0.783933,0.822249,0.758885,0.298110,0.983320
16,0.876720,0.726182,0.254394,0.292799,0.296612,0.249463,0.795913,0.496124,0.530396,0.377449
17,0.061996,0.0893876,0.971810,0.290520,0.292104,0.812994,0.202981,0.538635,0.869832,0.173957
18,0.222561,0.586781,0.277604,0.286994,0.282610,0.147635,0.786750,0.510468,0.388759,0.396120
19,0.908522,0.548873,0.336047,0.745124,0.531764,0.411030,0.619268,0.448086,0.919328,0.588031

In [62]:
df.head()

,A,B,C,D,E,G,H,I,J,K,L,M
0,0.543779,0.762065,0.0540864,0.364031,0.226566,0.222269,0.238740,0.102578,0.020228,0.718675,0.676068,0.031351
1,0.143537,0.754556,0.94997,0.596242,0.100520,0.028961,0.128779,0.693654,0.716935,0.761775,0.790455,0.399687
2,0.853122,0.562001,0.65416,0.875350,0.820015,0.389261,0.413581,0.085036,0.331804,0.442996,0.806241,0.841575
3,0.624904,0.235805,0.923486,0.173596,0.953196,0.667429,0.852073,0.009478,0.590329,0.552120,0.036652,0.177274
4,0.112930,0.990402,0.0528528,0.277178,0.103052,0.387192,0.513325,0.629677,0.769574,0.082136,0.609028,0.706455

In [63]:
df.drop(['A', 'B'], axis = 1, inplace = True)

In [66]:
df.head()

,C,D,E,G,H,I,J,K,L,M
0,0.0540864,0.364031,0.226566,0.222269,0.238740,0.102578,0.020228,0.718675,0.676068,0.031351
1,0.94997,0.596242,0.100520,0.028961,0.128779,0.693654,0.716935,0.761775,0.790455,0.399687
2,0.65416,0.875350,0.820015,0.389261,0.413581,0.085036,0.331804,0.442996,0.806241,0.841575
3,0.923486,0.173596,0.953196,0.667429,0.852073,0.009478,0.590329,0.552120,0.036652,0.177274
4,0.0528528,0.277178,0.103052,0.387192,0.513325,0.629677,0.769574,0.082136,0.609028,0.706455

In [67]:
df['D']

0     0.364031
1     0.596242
2     0.875350
3     0.173596
4     0.277178
5     0.163209
6     0.741425
7     0.024244
8     0.794233
9     0.603523
10    0.519759
11    0.890205
12    0.734071
13    0.954881
14    0.401655
15    0.737190
16    0.882358
17    0.505178
18    0.787526
19    0.489872
Name: D, dtype: float64

In [68]:
df['D'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: D, dtype: bool

In [69]:
df.loc[:, 'D'] = None

In [70]:
df.head()

,C,D,E,G,H,I,J,K,L,M
0,0.0540864,None,0.226566,0.222269,0.238740,0.102578,0.020228,0.718675,0.676068,0.031351
1,0.94997,None,0.100520,0.028961,0.128779,0.693654,0.716935,0.761775,0.790455,0.399687
2,0.65416,None,0.820015,0.389261,0.413581,0.085036,0.331804,0.442996,0.806241,0.841575
3,0.923486,None,0.953196,0.667429,0.852073,0.009478,0.590329,0.552120,0.036652,0.177274
4,0.0528528,None,0.103052,0.387192,0.513325,0.629677,0.769574,0.082136,0.609028,0.706455

In [71]:
df['D'].isnull()

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
Name: D, dtype: bool